/* COLOR */
.color-primary-0 { color: #285290 }	/* Main Primary color */
.color-primary-1 { color: #6687B7 }
.color-primary-2 { color: #41669D }
.color-primary-3 { color: #173D76 }
.color-primary-4 { color: #082A5D }

.rgba-primary-0 { color: rgba( 40, 82,144,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(102,135,183,1) }
.rgba-primary-2 { color: rgba( 65,102,157,1) }
.rgba-primary-3 { color: rgba( 23, 61,118,1) }
.rgba-primary-4 { color: rgba(  8, 42, 93,1) }

html, body{
    height: 100%;
}
.navbar-brand{
    padding-top:8px;
    margin-right:300px;
}

svg{
    position:relative;
    width:100%;
}
.datavisProjectBase {
    background: firebrick;
    color: blanchedalmond;
}
.datavisPannel {
    background: #fff;
    border: 1px solid blanchedalmond;
    border-radius: 4px;
    padding:0px;
}

.e-maatschappij{
    margin-top: 10px;
}

.filter{
    padding:15px;
    border-radius:4px;
    border:1px blanchedalmond solid;   
}

/*.tooltiphelper{
    text-align: center; 
    height: 30px;
}*/

footer, .push{
    bottom:0;
    width: 100%;
    margin: 30px 0;
    height:5em;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom:-5em;
}

.panel-footer{
    height:100px;
    width:100%;
    border-radius: 0;
}


.navbar-nav>li>a{
    background-image: none;
    color: firebrick!important;
}

.navbar-nav>li>a:hover{
    font-weight: bolder;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background:none;
}

.active>a{
    background:none;
    background-image: none;
    -webkit-box-shadow:none!important;
    box-shadow: none;
   
}

.navbar-default {
    border-radius: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
     background-color:transparent;
}

.spacing {
    margin-bottom: 10px;
}