<div class="container" ng-controller="ExampleController as ctrl">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4"><p></p></div>
            <div class="col-md-8"><h1 style="padding:0 5px;">Energiemaatschappij concurrentie</h1></div>
            <div class="col-md-12">
                <div  class="col-md-4 spacing">
                    <div class="col-md-12 filter">
                        <label>FILTER</label>
                        <div>
                            <dropdown-multiselect ngid="'dropdownyearsselect'" pre-selected="preselectYears" model="selected_years" options="years" defaulttext="selectedYear" showmax="4"></dropdown-multiselect>
                            <dropdown-multiselect ngid="'dropdowncompaniesselect'" pre-selected="preselectCompanies" model="selected_companies" options="companies" defaulttext="selectedcompany" showmax="4"></dropdown-multiselect>

                            <label class="radio-inline col-md-5"><input type="radio" ng-model="type" value="gas" required>Gas</label>
                            <label class="radio-inline col-md-5"><input type="radio" ng-model="type" value="elk" required >Elektra</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 spacing">
                    <div class="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
